In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('Test.csv')

In [3]:
data.shape

(5681, 11)

In [4]:
data.head(3)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.75,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.30,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.60,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store

In [5]:
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type'],
      dtype='object')

In [6]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
dtype: object

In [7]:
data.describe

<bound method NDFrame.describe of      Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0              FDW58       20.750          Low Fat         0.007565
1              FDW14        8.300              reg         0.038428
2              NCN55       14.600          Low Fat         0.099575
3              FDQ58        7.315          Low Fat         0.015388
4              FDY38          NaN          Regular         0.118599
...              ...          ...              ...              ...
5676           FDB58       10.500          Regular         0.013496
5677           FDD47        7.600          Regular         0.142991
5678           NCO17       10.000          Low Fat         0.073529
5679           FDJ26       15.300          Regular         0.000000
5680           FDU37        9.500          Regular         0.104720

               Item_Type  Item_MRP Outlet_Identifier  \
0            Snack Foods  107.8622            OUT049
1                  Dairy   87.3198            OUT017
2                 Others  241.7538            OUT010
3            Snack Foods  155.0340            OUT017
4                  Dairy  234.2300            OUT027
...                  ...       ...               ...
5676         Snack Foods  141.3154            OUT046
5677       Starchy Foods  169.1448            OUT018
5678  Health and Hygiene  118.7440            OUT045
5679              Canned  214.6218            OUT017
5680              Canned   79.7960            OUT045

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                          1999      Medium               Tier 1
1                          2007         NaN               Tier 2
2                          1998         NaN               Tier 3
3                          2007         NaN               Tier 2
4                          1985      Medium               Tier 3
...                         ...         ...                  ...
5676                       1997       Small               Tier 1
5677                       2009      Medium               Tier 3
5678                       2002         NaN               Tier 2
5679                       2007         NaN               Tier 2
5680                       2002         NaN               Tier 2

            Outlet_Type
0     Supermarket Type1
1     Supermarket Type1
2         Grocery Store
3     Supermarket Type1
4     Supermarket Type3
...                 ...
5676  Supermarket Type1
5677  Supermarket Type2
5678  Supermarket Type1
5679  Supermarket Type1
5680  Supermarket Type1

[5681 rows x 11 columns]>

In [5]:
data.index

RangeIndex(start=0, stop=5681, step=1)

In [6]:
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type'],
      dtype='object')

In [7]:
data.head(7)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
5,FDH56,9.800,Regular,0.063817,Fruits and Vegetables,117.1492,OUT046,1997,Small,Tier 1,Supermarket Type1
6,FDL48,19.350,Regular,0.082602,Baking Goods,50.1034,OUT018,2009,Medium,Tier 3,Supermarket Type2

In [8]:
#changing index of a dataframe
import random

In [9]:
random_list = [random.randint(1,5681) for i in range(5681)]

In [10]:
random_list

[686,
 1399,
 1053,
 4209,
 5077,
 4698,
 4579,
 1361,
 1955,
 3451,
 4576,
 4393,
 4582,
 5575,
 5301,
 5629,
 655,
 5022,
 2280,
 3331,
 2548,
 5280,
 220,
 2808,
 2383,
 4932,
 34,
 2905,
 3523,
 4090,
 4888,
 2891,
 4820,
 311,
 2418,
 5023,
 2717,
 343,
 3243,
 221,
 4084,
 382,
 2024,
 2278,
 2858,
 1174,
 2587,
 3788,
 925,
 5459,
 1531,
 5514,
 2424,
 3794,
 2818,
 147,
 351,
 4576,
 141,
 5233,
 3493,
 526,
 184,
 3161,
 921,
 5637,
 824,
 5394,
 1094,
 1744,
 1370,
 357,
 2794,
 2372,
 32,
 751,
 2702,
 5076,
 3789,
 2065,
 1221,
 5317,
 2137,
 2007,
 3764,
 329,
 5388,
 2003,
 978,
 3996,
 775,
 1373,
 4738,
 630,
 1070,
 1296,
 951,
 1064,
 2587,
 4605,
 2499,
 3086,
 5096,
 449,
 3787,
 2067,
 4396,
 1281,
 4995,
 3642,
 5394,
 4501,
 5474,
 3330,
 148,
 470,
 5639,
 3275,
 2040,
 5523,
 1233,
 1485,
 4456,
 2280,
 836,
 3828,
 3290,
 5634,
 1120,
 4982,
 1810,
 1268,
 4468,
 2461,
 3268,
 3308,
 4186,
 3700,
 5476,
 397,
 3677,
 5379,
 1273,
 3894,
 2687,
 1666,
 1859,
 4041,
 3767,
 2031,
 898,
 829,
 1722,
 2195,
 15,
 777,
 1243,
 1840,
 2880,
 1994,
 906,
 994,
 1561,
 5181,
 3256,
 394,
 5014,
 4038,
 1625,
 456,
 1328,
 1003,
 5031,
 753,
 3862,
 814,
 5288,
 4572,
 2144,
 125,
 3751,
 2957,
 3332,
 1076,
 2836,
 45,
 2430,
 3762,
 3747,
 1072,
 2152,
 3119,
 359,
 246,
 5193,
 3398,
 4707,
 2139,
 4905,
 24,
 2308,
 3856,
 3723,
 1298,
 4729,
 36,
 2205,
 2769,
 5572,
 2935,
 1824,
 4726,
 3191,
 1966,
 673,
 4234,
 1887,
 4937,
 5667,
 3959,
 89,
 4618,
 1149,
 582,
 119,
 951,
 3786,
 1897,
 4314,
 56,
 3095,
 2807,
 3105,
 730,
 2301,
 797,
 2517,
 2427,
 3416,
 2989,
 2211,
 3890,
 4064,
 1311,
 2357,
 5228,
 4176,
 3469,
 622,
 1489,
 897,
 3406,
 5200,
 4351,
 4323,
 4755,
 1799,
 3000,
 233,
 3962,
 233,
 3309,
 2544,
 3982,
 5306,
 2014,
 467,
 4152,
 2594,
 4553,
 3521,
 412,
 5537,
 1974,
 1287,
 4901,
 2178,
 1020,
 1993,
 1560,
 960,
 1384,
 5553,
 3315,
 1497,
 2536,
 4197,
 2326,
 3961,
 1795,
 2482,
 5084,
 1921,
 5408,
 614,
 1671,
 4438,
 1534,
 711,
 1094,
 1971,
 853,
 839,
 1620,
 5477,
 1767,
 1683,
 3149,
 4356,
 3706,
 2401,
 4007,
 3596,
 5359,
 3091,
 2969,
 4824,
 4810,
 1435,
 3781,
 136,
 4760,
 3661,
 4634,
 1675,
 3904,
 5071,
 5224,
 3526,
 4008,
 742,
 404,
 870,
 4367,
 3134,
 5164,
 5242,
 3875,
 3317,
 2870,
 3976,
 1010,
 447,
 4921,
 4252,
 4894,
 3608,
 5014,
 3745,
 181,
 1401,
 2996,
 1038,
 3817,
 5211,
 2986,
 3022,
 1871,
 1907,
 3239,
 3152,
 4000,
 1999,
 3383,
 5117,
 4252,
 5361,
 3073,
 4218,
 4119,
 2429,
 5,
 871,
 563,
 4749,
 2410,
 1649,
 4725,
 4279,
 1428,
 76,
 4019,
 4876,
 2748,
 904,
 2885,
 2480,
 2938,
 1333,
 3482,
 2723,
 933,
 618,
 2070,
 346,
 1365,
 1670,
 4390,
 687,
 5200,
 5117,
 784,
 3083,
 5289,
 9,
 1737,
 135,
 4300,
 2594,
 3153,
 764,
 2586,
 641,
 3540,
 948,
 1679,
 2254,
 3336,
 4006,
 4795,
 1700,
 4696,
 2311,
 390,
 554,
 2867,
 2556,
 4951,
 582,
 786,
 2355,
 1279,
 2662,
 4790,
 982,
 3489,
 1948,
 4310,
 675,
 1174,
 3118,
 5006,
 5116,
 2633,
 4878,
 4513,
 1484,
 1026,
 340,
 75,
 4439,
 4684,
 2777,
 3646,
 1323,
 3165,
 2766,
 2339,
 5496,
 5499,
 301,
 2563,
 428,
 1931,
 4304,
 2954,
 3959,
 4076,
 5307,
 3223,
 3201,
 4441,
 1695,
 959,
 2912,
 474,
 1969,
 4088,
 3797,
 5287,
 3744,
 1746,
 1743,
 3200,
 4186,
 3567,
 1158,
 1908,
 5116,
 796,
 497,
 3630,
 9,
 676,
 1279,
 1456,
 1868,
 2359,
 4830,
 4160,
 3545,
 1954,
 4523,
 5644,
 1776,
 5463,
 818,
 3868,
 2599,
 2707,
 1949,
 571,
 4742,
 1424,
 2199,
 549,
 66,
 4764,
 4768,
 4721,
 4702,
 5630,
 4152,
 1281,
 1216,
 4813,
 2750,
 1399,
 1513,
 2672,
 683,
 2614,
 802,
 5345,
 2497,
 348,
 2041,
 4902,
 4406,
 1942,
 11,
 1477,
 4145,
 921,
 703,
 2979,
 2949,
 2198,
 1609,
 5330,
 5585,
 2361,
 3891,
 2604,
 5108,
 4729,
 4600,
 84,
 4378,
 3738,
 578,
 4148,
 3949,
 3094,
 2748,
 2554,
 5291,
 822,
 3723,
 4500,
 2220,
 4712,
 5351,
 583,
 5637,
 719,
 1440,
 4541,
 4726,
 1810,
 2501,
 3168,
 1836,
 2077,
 1482,
 3038,
 2213,
 4369,
 1174,
 5511,
 594,
 5334,
 4695,
 4639,
 2386,
 4563,
 5463,
 4135,
 5608,
 2687,
 2111,
 3470,
 4542,
 4653,
 2769,
 1021,
 373,
 3162,
 149,
 2727,
 3879,
 796,
 155,
 4218,
 4346,
 3164,
 2496,
 3501,
 2821,
 3768,
 2717,
 5307,
 5128,
 1014,
 394,
 1579,
 5269,
 2577,
 3607,
 4862,
 2066,
 159,
 1944,
 36,
 3424,
 3982,
 886,
 5387,
 1899,
 2115,
 4183,
 899,
 552,
 4915,
 1572,
 2561,
 3152,
 4229,
 2712,
 1372,
 5623,
 1853,
 3137,
 5020,
 3246,
 2957,
 2826,
 2721,
 1768,
 4093,
 1151,
 1650,
 5541,
 1799,
 2910,
 468,
 884,
 2136,
 4522,
 1166,
 3785,
 1472,
 2998,
 4914,
 1491,
 3194,
 5579,
 3703,
 4557,
 486,
 4914,
 2426,
 4615,
 2725,
 694,
 3011,
 1122,
 3208,
 1779,
 4798,
 4209,
 2160,
 1781,
 1392,
 2480,
 1289,
 1395,
 4192,
 3712,
 53,
 3631,
 5446,
 3204,
 5563,
 3088,
 3705,
 3670,
 901,
 3553,
 5096,
 4097,
 2462,
 4072,
 796,
 1432,
 2488,
 4519,
 4546,
 5525,
 1378,
 266,
 4464,
 138,
 219,
 5535,
 2347,
 867,
 1258,
 3281,
 3657,
 5534,
 3438,
 4099,
 5273,
 1900,
 1729,
 5070,
 3218,
 5335,
 4756,
 1480,
 1768,
 1583,
 1222,
 4988,
 252,
 1391,
 2522,
 4343,
 4294,
 261,
 4399,
 2158,
 1226,
 3324,
 1204,
 668,
 5141,
 1887,
 895,
 4334,
 1997,
 1652,
 3357,
 4146,
 4870,
 5036,
 3182,
 4446,
 3905,
 5532,
 1224,
 2195,
 2101,
 5499,
 3770,
 2376,
 2096,
 1362,
 5245,
 3150,
 3723,
 2386,
 5450,
 3365,
 2670,
 827,
 5528,
 226,
 3827,
 5401,
 3619,
 1235,
 1177,
 1202,
 4817,
 2024,
 3023,
 871,
 5324,
 3416,
 4774,
 3064,
 4670,
 3516,
 4381,
 1769,
 3988,
 5198,
 2000,
 2219,
 5378,
 114,
 2266,
 3874,
 5055,
 4077,
 5588,
 30,
 1294,
 1640,
 4707,
 3850,
 190,
 4031,
 1652,
 1028,
 1867,
 2594,
 4744,
 713,
 1426,
 2959,
 1198,
 3738,
 4076,
 102,
 3542,
 4974,
 5461,
 290,
 1783,
 3892,
 3425,
 3279,
 404,
 5326,
 2104,
 4949,
 3220,
 2364,
 3045,
 651,
 2213,
 4051,
 2512,
 3436,
 3293,
 3807,
 5318,
 5351,
 5345,
 2526,
 1099,
 3570,
 2748,
 1965,
 1472,
 3381,
 5390,
 1279,
 4271,
 5618,
 309,
 411,
 2828,
 3092,
 5602,
 2997,
 4760,
 3557,
 2760,
 2841,
 465,
 148,
 3074,
 1593,
 5180,
 5548,
 3511,
 4349,
 4758,
 2977,
 2529,
 4983,
 4638,
 5215,
 1536,
 3817,
 1138,
 4923,
 2522,
 4635,
 4581,
 2197,
 4205,
 3417,
 4224,
 3235,
 1983,
 1916,
 5485,
 666,
 17,
 762,
 1660,
 3569,
 3233,
 1537,
 1,
 3301,
 3108,
 3699,
 1805,
 1093,
 3535,
 1798,
 3221,
 217,
 1602,
 327,
 166,
 528,
 128,
 166,
 4778,
 3726,
 2496,
 3775,
 45,
 2883,
 927,
 5369,
 19,
 5081,
 3637,
 3073,
 1746,
 2726,
 1905,
 5317,
 1782,
 1177,
 2201,
 774,
 2032,
 1574,
 3631,
 927,
 2955,
 522,
 2302,
 742,
 894,
 1687,
 1355,
 4231,
 3469,
 1875,
 3375,
 2591,
 4885,
 4532,
 1762,
 2737,
 5236,
 3097,
 1807,
 1812,
 2852,
 5463,
 591,
 2870,
 450,
 1720,
 2230,
 4438,
 3491,
 2716,
 3800,
 1837,
 3903,
 5437,
 2888,
 1681,
 3752,
 2140,
 4912,
 4383,
 1384,
 ...]

In [11]:
data.index = random_list

In [13]:
data.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
686,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1399,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
1053,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
4209,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
5077,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [18]:
data.set_index('Outlet_Establishment_Year', drop=True, inplace=True)

KeyError: "None of ['Outlet_Establishment_Year'] are in the columns"

In [16]:
data_updated.index

Int64Index([1999, 2007, 1998, 2007, 1985, 1997, 2009, 1985, 2002, 2007,
            ...
            1999, 1999, 2009, 1997, 1999, 1997, 2009, 2002, 2007, 2002],
           dtype='int64', name='Outlet_Establishment_Year', length=5681)

In [ ]:
#above the indexing was changed, now every row indexed by year

In [19]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
Outlet_Establishment_Year,,,,,,,,,,
1999,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,Medium,Tier 1,Supermarket Type1
2007,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,NaN,Tier 2,Supermarket Type1
1998,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,NaN,Tier 3,Grocery Store
2007,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,NaN,Tier 2,Supermarket Type1
1985,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,Medium,Tier 3,Supermarket Type3

In [20]:
data.set_index('Item_Identifier', drop=True, inplace=True)

In [21]:
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
Item_Identifier,,,,,,,,,
FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,Medium,Tier 1,Supermarket Type1
FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,NaN,Tier 2,Supermarket Type1
NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,NaN,Tier 3,Grocery Store
FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,NaN,Tier 2,Supermarket Type1
FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,Medium,Tier 3,Supermarket Type3

In [22]:
data.index

Index(['FDW58', 'FDW14', 'NCN55', 'FDQ58', 'FDY38', 'FDH56', 'FDL48', 'FDC48',
       'FDN33', 'FDA36',
       ...
       'FDA01', 'NCH42', 'FDF46', 'DRL35', 'FDW46', 'FDB58', 'FDD47', 'NCO17',
       'FDJ26', 'FDU37'],
      dtype='object', name='Item_Identifier', length=5681)

In [ ]:
#Subsetting the data using loc:

In [23]:
data.loc['FDA15']

Item_Weight                           9.3
Item_Fat_Content                  Low Fat
Item_Visibility                  0.016022
Item_Type                           Dairy
Item_MRP                         249.9092
Outlet_Identifier                  OUT046
Outlet_Size                         Small
Outlet_Location_Type               Tier 1
Outlet_Type             Supermarket Type1
Name: FDA15, dtype: object

In [24]:
data.reset_index(inplace=True)

In [25]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,Medium,Tier 3,Supermarket Type3

In [26]:
data[data['Item_Type'] == 'Dairy']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,Medium,Tier 3,Supermarket Type3
28,DRC27,13.800,Low Fat,0.058102,Dairy,244.6802,OUT046,Small,Tier 1,Supermarket Type1
46,FDR14,11.650,Low Fat,0.291322,Dairy,55.8298,OUT010,NaN,Tier 3,Grocery Store
59,FDE52,10.395,Regular,0.029947,Dairy,90.1514,OUT045,NaN,Tier 2,Supermarket Type1
...,...,...,...,...,...,...,...,...,...,...
5620,FDB15,10.895,Low Fat,0.137088,Dairy,265.0568,OUT045,NaN,Tier 2,Supermarket Type1
5631,FDA03,18.500,Regular,0.045556,Dairy,147.1102,OUT045,NaN,Tier 2,Supermarket Type1
5649,DRH03,17.250,Low Fat,0.035135,Dairy,94.7120,OUT045,NaN,Tier 2,Supermarket Type1
5656,FDC39,NaN,Low Fat,0.158425,Dairy,207.8296,OUT027,Medium,Tier 3,Supermarket Type3
5665,DRE03,NaN,Low Fat,0.024110,Dairy,46.0718,OUT027,Medium,Tier 3,Supermarket Type3

In [27]:
data[10:20]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
10,FDT44,16.600,Low Fat,0.103569,Fruits and Vegetables,118.3466,OUT017,NaN,Tier 2,Supermarket Type1
11,FDQ56,6.590,Low Fat,0.105811,Fruits and Vegetables,85.3908,OUT045,NaN,Tier 2,Supermarket Type1
12,NCC54,NaN,Low Fat,0.171079,Health and Hygiene,240.4196,OUT019,Small,Tier 1,Grocery Store
13,FDU11,4.785,Low Fat,0.092738,Breads,122.3098,OUT049,Medium,Tier 1,Supermarket Type1
14,DRL59,16.750,LF,0.021206,Hard Drinks,52.0298,OUT013,High,Tier 3,Supermarket Type1
15,FDM24,6.135,Regular,0.079451,Baking Goods,151.6366,OUT049,Medium,Tier 1,Supermarket Type1
16,FDI57,19.850,Low Fat,0.054135,Seafood,198.7768,OUT045,NaN,Tier 2,Supermarket Type1
17,DRC12,17.850,Low Fat,0.037981,Soft Drinks,192.2188,OUT018,Medium,Tier 3,Supermarket Type2
18,NCM42,NaN,Low Fat,0.028184,Household,109.6912,OUT027,Medium,Tier 3,Supermarket Type3
19,FDA46,13.600,Low Fat,0.196898,Snack Foods,193.7136,OUT010,NaN,Tier 3,Grocery Store

In [28]:
data[-10:]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
5671,FDA01,15.00,reg,0.054463,Canned,59.5904,OUT049,Medium,Tier 1,Supermarket Type1
5672,NCH42,6.86,Low Fat,0.036594,Household,231.1010,OUT049,Medium,Tier 1,Supermarket Type1
5673,FDF46,7.07,Low Fat,0.094053,Snack Foods,116.0834,OUT018,Medium,Tier 3,Supermarket Type2
5674,DRL35,15.70,Low Fat,0.030704,Hard Drinks,43.2770,OUT046,Small,Tier 1,Supermarket Type1
5675,FDW46,13.00,Regular,0.070411,Snack Foods,63.4484,OUT049,Medium,Tier 1,Supermarket Type1
5676,FDB58,10.50,Regular,0.013496,Snack Foods,141.3154,OUT046,Small,Tier 1,Supermarket Type1
5677,FDD47,7.60,Regular,0.142991,Starchy Foods,169.1448,OUT018,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.00,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.30,Regular,0.000000,Canned,214.6218,OUT017,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.50,Regular,0.104720,Canned,79.7960,OUT045,NaN,Tier 2,Supermarket Type1

In [ ]:
#iloc - select specific rows by index no.

In [29]:
#select specific rows
data.iloc[[1,6,2,4,8,16]]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,NaN,Tier 2,Supermarket Type1
6,FDL48,19.350,Regular,0.082602,Baking Goods,50.1034,OUT018,Medium,Tier 3,Supermarket Type2
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,NaN,Tier 3,Grocery Store
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,Medium,Tier 3,Supermarket Type3
8,FDN33,6.305,Regular,0.123365,Snack Foods,95.7436,OUT045,NaN,Tier 2,Supermarket Type1
16,FDI57,19.850,Low Fat,0.054135,Seafood,198.7768,OUT045,NaN,Tier 2,Supermarket Type1

In [30]:
#select specific rows and columns
data.iloc[[1,4,5,2],[1,3,5]]

   Item_Weight  Item_Visibility  Item_MRP
1          8.3         0.038428   87.3198
4          NaN         0.118599  234.2300
5          9.8         0.063817  117.1492
2         14.6         0.099575  241.7538

In [31]:
data.set_index('Item_Identifier', inplace=True, drop=True)

In [32]:
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
Item_Identifier,,,,,,,,,
FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,Medium,Tier 1,Supermarket Type1
FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,NaN,Tier 2,Supermarket Type1
NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,NaN,Tier 3,Grocery Store
FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,NaN,Tier 2,Supermarket Type1
FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,Medium,Tier 3,Supermarket Type3

In [33]:
data.loc['FDA15']

Item_Weight                           9.3
Item_Fat_Content                  Low Fat
Item_Visibility                  0.016022
Item_Type                           Dairy
Item_MRP                         249.9092
Outlet_Identifier                  OUT046
Outlet_Size                         Small
Outlet_Location_Type               Tier 1
Outlet_Type             Supermarket Type1
Name: FDA15, dtype: object

In [35]:
data.loc[['FDA15', 'FDA03']]

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
Item_Identifier,,,,,,,,,
FDA15,9.3,Low Fat,0.016022,Dairy,249.9092,OUT046,Small,Tier 1,Supermarket Type1
FDA03,18.5,Regular,0.045649,Dairy,145.6102,OUT018,Medium,Tier 3,Supermarket Type2
FDA03,18.5,Regular,0.045721,Dairy,145.6102,OUT017,NaN,Tier 2,Supermarket Type1
FDA03,18.5,Regular,0.045556,Dairy,147.1102,OUT045,NaN,Tier 2,Supermarket Type1

In [37]:
data.loc[['FDA15', 'FDA03'],'Item_Fat_Content']

Item_Identifier
FDA15    Low Fat
FDA03    Regular
FDA03    Regular
FDA03    Regular
Name: Item_Fat_Content, dtype: object

In [39]:
data.loc[['FDA15', 'FDA03'],'Item_Fat_Content']

Item_Identifier
FDA15    Low Fat
FDA03    Regular
FDA03    Regular
FDA03    Regular
Name: Item_Fat_Content, dtype: object